$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$green-font: #008766;
$blue: #89c8fa;
$blue-2: #003a68;
$grey: #353535;
$grey-tint-4: #7e7e7e;
$grey-2: #eaeaea;
$background: #f6f6f6;
$button-gradient: linear-gradient(175deg, $secondary 0%, $primary 100%);
