* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: "Shrikhand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 22px 25px;
  margin: 0;
  background-color: #353535;
  gap: 16px;
}
footer h2 {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 7px;
  font-size: 16px;
}
footer .footer-nav .footer-nav__links {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  gap: 11px;
}
footer .footer-nav .footer-nav__links:hover {
  text-decoration: none;
}
footer .footer-nav .footer-nav__links--bold {
  font-weight: 600;
}
footer .footer-nav .footer-nav__links i {
  width: 20px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 14px 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header img {
  width: 197px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  height: 50px;
  font-size: 16px;
  background-color: #eaeaea;
}
.location__icon {
  color: #353535;
}

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 17px;
  gap: 27px;
}
.reservation__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reservation__title h3 {
  text-align: center;
  padding: 0 60px;
}
.reservation__title p {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.process__contain {
  display: flex;
  flex-direction: column;
  padding: 48px 20px 68px 32px;
}

.process {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.process__steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.button {
  text-align: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 13px 19px;
  border-radius: 25px;
  border: none;
  background: var(--button-gradient, linear-gradient(175deg, #ff79da 0%, #9356dc 100%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-out;
}
.button:hover {
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 3px 7px 17px 7px rgba(0, 0, 0, 0.35);
}

.process__button {
  display: flex;
  padding: 28px 0;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
  transition: all 0.3s ease-out;
}
.process__button:hover {
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 3px 7px 17px 7px rgba(0, 0, 0, 0.35);
}
.process__button__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #9356dc;
  color: white;
  font-size: 14px;
  font-weight: 500;
  transform: translate(-50%);
}
.process__button__icon {
  color: #7e7e7e;
  font-size: 20px;
}
.process__button__icon--active {
  color: #9356dc;
}
.process__button__text {
  font-size: 16px;
  font-weight: 500;
}/*# sourceMappingURL=main.css.map */