.submit__button__contain {
  @include centered__flex;
}

.submit__button {
  text-align: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 48px;
  border-radius: 25px;
  border: none;
  background: var(
    --button-gradient,
    linear-gradient(175deg, $secondary 0%, $primary 100%)
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-out;
  @include button__hover;
}
