.submit__button__contain {
  @include centered__flex;
}

.submit__button {
  text-align: center;
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 16px 48px;
  border-radius: 25px;
  border: none;
  background: $button-gradient;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  @include transition;
  @include button__hover;
}
.loader {
  font-size: 25px;
  color: $primary;
}
