.image__contain {
  position: relative;
  z-index: -1;

  img {
    width: 100vw;
    height: 275px;
  }
}
.cart__contain {
  @include flex__col;
  position: relative;
  top: -60px;
  z-index: 0;
  background-color: $background;
  border-radius: 40px 40px 0 0;
  padding: 30px 13px 40px 13px;
  gap: 40px;
}
